body {
	font-family: 'Raleway', sans-serif;
}

.panes
{
	margin: -1%;
	padding: 2%;
	display: flex;
	width: 95vw;
	height: 100vh;
	font-size: 5em;
	align-items: center;
}

.panes sub
{
	font-size: 0.4em;
}

.panes:nth-of-type(odd)
{
	background-color: black;
	height: 100vh;
	color: white;
}

.panes:nth-of-type(even)
{
	background-color: white;
	height: 105vh;
}

.panes.black a
{
	color: white;
	/** self decorating the links*/
	text-decoration: none;
}

.panes.white a
{
	color: black;
	text-decoration: none;
}

/** Manipulating up and down buttons. */

.nav
{
	position: fixed;
	width: 0px;
	height: 0px;
	left: 50%;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

#down 
{
	bottom: 1%;
	border-top: 20px #aaa solid;
}

#up
{
	top: 1%;
	border-bottom: 20px #aaa solid;
}
